form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}
input {
  height: 40px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 0;
}
input[type="submit"] {
  cursor: pointer;
  background-color: #ff704d;
  color: white;
}
input[type="submit"]:hover {
  background-color: #d15c3f;
}
input[type="text"]:focus {
  outline: 2px solid #ff704d;
}