:root {
  font-family: 'Shantell Sans', cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #3b3b3b;
}
body {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px 16px;  
  background-color: #ebebeb;
}
h1 {
  margin-bottom: 16px;
  color: #3b3b3b;
}
.Main-Title {
  text-align: center;
}